<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
  </head>
<body>
    <hanko-profile />

    <script type="module">
        import { register } from "https://esm.run/@teamhanko/hanko-elements";
        const { hanko } = await register("{{ API_URL }}");

        await register("{{ API_URL }}");
        
        if (!hanko.session.isValid()) {
            document.location.href = "/auth?redirect_url=account"
        }
    </script>
</body>
</html>